h1{
  text-align: center;
  margin-bottom: 20px;
  font-family: Georgia, serif;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.color-selection{
  display: inline-block;
  list-style-type: none;
  margin: 10px;
  width: 350px;
}

.color-select label{
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-top: 40px;
}

.color-selection li{
	display: inline;
	margin:10px;
}

.blob_image{
  height=10px;
}
